<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlf.platform.dao.permission.PermissionMapper" >
  <resultMap id="BaseResultMap" type="com.hlf.platform.model.permission.Permission" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="permisson_name" property="permissonName" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.hlf.platform.model.permission.Permission" >
    insert into t_permission (id, permisson_name, role_id
      )
    values (#{id,jdbcType=INTEGER}, #{permissonName,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hlf.platform.model.permission.Permission" >
    insert into t_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="permissonName != null" >
        permisson_name,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="permissonName != null" >
        #{permissonName,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>